
body {
    font-family: 'Roboto', sans-serif;
}

.cus-h2 {
    letter-spacing: 2px;
}


.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.no-padding {
    padding: 0;
}

.grey-btn {
    background-color: #56615a;
    margin-top: 70px;
    margin-bottom: 40px;
    border: none; 
}

.grey-btn:hover {
    background-color: black;
}

.green-btn {

    background-color: lightgreen;
    border: none;
    margin-bottom: 30px;
}


.green-btn:hover {
    background-color: green;
}


/* colors */

.light-green {
    color: lightgreen;
}

.bg-color-green {
    background-color: lightgreen;
}


/* header */



.navigation-link {
    color: black;
}

.navigation-link:hover {
    color: lightgreen;
    text-decoration: underline;
}

header .cus-h2 {
    text-shadow: 1px 1px 2px lightskyblue;
}

/* footer */

.footer-bg {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #f8f9fa;
    color: darkgrey;
    
    
}




.footer-icon {

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 200%;
    color: lightgreen;

}

.footer-text {
    font-weight: lighter;
    margin-right: 20px;
}


.contact-icon {
    margin-right: 5px;
    margin-left: 30px;
}

.contact-icon-modal {
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 20%;
}

.modal-btn {

    margin-top: 40px;
    margin-bottom: 15px;
}

.ft-icon-wrap {
    text-align: center;
}





/* section index.html */

section p {
    margin: 7px;
}

section li {
    list-style-position: inside;
    margin-bottom: 15px;
}

section h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
    text-transform: uppercase;
    font-size: 120%;
}

section h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-img {
    width: 100%;
    height: 500px;
    background-image: url("images/treadmill.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.bg-im-index {

    background-image: url(images/treadmillopacity.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    
    
    

}

.col-no-pad {
  padding: 0;
}

.section-txt-area {
    margin-top: 30px;
    height: 25%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    
}

#top-sec-marg {
    margin-top: 100px;
}

/*section gallery.html */

.col-gall {
    margin: 0;
    padding: 0;
}


.gall-img {
    height: 100%;
    width: 100%;
    padding: 5px;
}





/*section signup.html */

.bg-img-two {
    background-image: url("images/dumbellsopacity.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;  
    height: 100%;
    width: 100%;
    min-height: 700px;


}

.form-area {
    background-color: white;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    
}

.form-item {
    margin-bottom: 15px;
    
    
}

.p-mg-btm { 

    margin-bottom: 25px;
    text-align: center;

}

.check-b {
    margin-top: 10px;
}

.sub-btn {
    color: white;
    background-color: #56615a;
    margin-top: 15px;
}

.mg-auto {
    margin: 0 auto;
}



/* media quieries */

@media screen and (max-width: 407.5px) {
    h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 767px) {
    .form-item {
    text-align: center; }
}

@media screen and (min-width: 767.5px) {
    .ft-icon-wrap {
        text-align: right;
    }

    .green-btn {
        margin-bottom: 0;
    }

   
}